@import '../node_modules/spinners/stylesheets/spinners';

#logs th {
  background-color: #f8f8f8;
}

#logs th a {
  color: #333;
}

table#logs td {
  overflow-wrap: break-word;
}

table#logs tr {
  cursor: pointer;
}

#table-message {
  width: 70%;
}

#table-severity {
  width: 10%;
}

.ot-brand {
  line-height: 50px;
  font-size: 18px;
}

.vis-timeline .vis-item:not(.vis-selected).httpSuccess {
  background-color: #0BE400;
}
.vis-timeline .vis-item:not(.vis-selected).httpRedirect {
  background-color: blue;
}
.vis-timeline .vis-item:not(.vis-selected).httpError {
  background-color: red;
}
.vis-timeline .vis-item:not(.vis-selected).statusOther {
  background-color: #B562CF;
}

body {
  height: 100%;
  padding-top: 70px;
  font-family: sans-serif !important; // chrome sux
}

html {
  height: 100%;
}

.logo {
  height: 30px;
}

#graph {
  margin-bottom: 15px;
  margin-top: 15px;
}

span#duration, span#renderduration, span#ngentries, span#ntentries {
  font-weight: bold;
}

#metadata {
  float: right;
  line-height: 34px;
}

span.jk {
  color: #000080;
}

span.jc {
  color: #000000;
}

span.jv {
  color: #df5000;
}

#myModal .modal-body {
  overflow-wrap: break-word;
  max-height: 800px;
  overflow-y: scroll;
}

#progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  .spinner {
    @include spinner(border-width 15px, 300px, border-color rgb(218, 55, 67));
  }
}

.qtip-content {
  font-size: 1.5em;
  line-height: 1.5em;
}

.qtip {
  max-width: 500px !important;
}
